.site-header {
    background-color: #1bbc9b;
    color: #ecfdf9;
    height:100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.site-header-content {
    margin:10px;
}
.profile-pic {
    border-radius:50%;
    box-shadow: #145d4e 5px 2px 2px;


}
body{
    margin;0
}